<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="sass/styles.min.css" media="screen" title="no title" charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" charset="utf-8"></script>

</head>
<body>

<div ng-app="clockApp" ng-controller="timeController" class="container">

<div class="settings">
  <h2>Break Length</h2>
  <i ng-click="" class="fa fa-minus"></i>
  <span>{{settingsBreakLength}}</span>
  <i ng-click=""  class="fa fa-plus"></i>

</div>
<div class="settings">
  <h2>Session Length</h2>
  <i ng-click="" class="fa fa-minus"></i>
  <span ></span>
  <i ng-click="" class="fa fa-plus"></i>

</div>

<i ng-click="" class="fa" ng-class="{'fa-play': !isCounting , 'fa-pause': isCounting}"></i>
<h2 class="header-time-left">Time to next break:</h2>
<span id="time-passing"></span>


</div>


<script src="js/clockApp.js" charset="utf-8"></script>

<script src="https://use.fontawesome.com/51a7efa550.js"></script>
</body>
</html>
